// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.unsubscribe_message {
  margin: 100px 0 0 50px;
  text-align: center;
}

.unsubscribe_btn {
  margin-left: 15px;
}

.unsubscribe_link {
  margin-top: 30px;
}

.my_page {
  margin: 0px 0px 30px 100px;
  font-size: 25px;
}

.edit_btn {
  width: 120px;
}

.info_link {
  margin-right: 10px;
}

.index_btn {
  margin-top: 20px;
}

.shipping_link {
  margin-right: 30px;
}

.order_link {
  margin-right: 15px;
}